* {
    font-family: sans-serif;
}
.contenedor {

    background-color: #F5F2F2;
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;

}
.barra-busqueda {
    width: 100%;
    height: 4rem;
    background-color: #A8292E;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
.busqueda {
    width: 25%;
    height: 2rem;
    border-color: transparent;
    margin-left: 1rem;
    position: relative;

}
.btn-buscar {
    border-color: transparent;
    width: 2rem;
    height: 2rem;

}
.detalle-producto {
    width: 30%;
    height: 90%rem;
    background-color: #ededeb;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 14px;
    color: black;
    font-weight: bolder;
    position: relative;
    

}
.imgSeleccion{
    width: 50%;
    position: relative;
    left: 25%;
}
.divProducSeleccion{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.detalles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.productos {
    width: 70%;
    height: 90%;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.contenedorProductos{
    overflow: auto;
    width: 100%;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.divProductos{
    display: flex;
    flex-direction: column;
    width: 200px; 
}
.divProductos:hover{
    background-color: #DAC693;
}
.nombreProducto{
    text-align: center;
}
.encabezado{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: 80px;
}
.divSelection{
    margin-top: 10px;
}
h1{
    transform: rotate(-5deg);
}
h2{
    position: absolute;
    left: 25%;

}
.name{
    font-size: small;
    text-align: center;
}


